.sidebar-brand p {
	font-weight: 500;
	margin-top: 15px;
	font-size: 21px;
}
.top.name-app {
	padding: 15px 15px;
}
a:hover {
	text-decoration: none;
}
#main-content h1 {
    text-align: center;
    font-style: italic;
    font-size: 72pt;
}
@media (max-width: 600px) {
    #main-content h1 {
        font-size: 42px;
    }
}
#main-content h5 {
    text-align: center;
    font-size: 18pt;
}
@media (max-width: 600px) {
    #main-content h5 {
        font-size: 16px;
    }
}
#main-content .left {
    float: right;
}
.col-sm-6 {
    margin-bottom: 25px;
}
.brand-card {
    padding: 35px 35px;
}
@media (max-width: 600px) {
    .brand-card {
        padding: 0px 0px;
    }
}
.btn-group {
    float: right;
}
#data_kelas .card-header > button,
#data_kelas .card-header > a > button {
    float: right;
    margin-top: -20px;
}
.btn {
    margin-bottom: 5px;
}
table > thead > tr > td,
table > tbody > tr > td {
    font-size: 12px;
}
.btn .text {
    font-size: 12px;
}
.btn-sm {
    font-size: 12px !important;
}
input::placeholder {
    color: #c4c4c4 !important;
}
label {
    color: #5a5c69;
}
.alert, #form_output {
  animation: cssAnimation 0s .2s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
.alert {
    font-weight: bold;
}
#akses_pswd {
    display: none;
}
.control-label.bold {
    font-weight: bold;
    font-size: 12px;
}
.control-label {
    padding: 5px 0;
    font-size: 14px;
}
.card .img-profile {
    width: 85%;
    display: block;
    margin: 0 auto;
}
.home-profile .form-control {
    font-size: 12px;
}
.form-group label {
    font-size: 14px;
    font-weight: 600;
}
form .form-control {
    font-size: 12px;
}
table th {
    font-size: 12px !important;
}
thead {
    background-color: #F2F4F8;
}
.dataTables_length,
.dataTables_info,
.dataTables_filter,
.custom-select,
input[type="search"].form-control,
.pagination li {
    font-size: 12px !important;
}
.main-divider {
    border-bottom: 1px solid #e3e3e3;
}
footer {
    padding: 20px 0;
}
.copyright span {
    font-size: 12px;
    display: block;
    text-align: center;
}